In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
snp = pd.read_csv('resources/INDEX_US_S&P US_SPX_2021.csv')
snp20 = pd.read_csv('resources/INDEX_US_S&P US_SPX_2020.csv')
snp19 = pd.read_csv('resources/INDEX_US_S&P US_SPX_2019.csv')
snp18 = pd.read_csv('resources/INDEX_US_S&P US_SPX_2018.csv')
snp17 = pd.read_csv('resources/INDEX_US_S&P US_SPX_2017.csv')

gme = pd.read_csv('resources/STOCK_US_XNYS_GME_2021.csv')
gme20 = pd.read_csv('resources/STOCK_US_XNYS_GME_2020.csv')
gme19 = pd.read_csv('resources/STOCK_US_XNYS_GME_2019.csv')
gme18 = pd.read_csv('resources/STOCK_US_XNYS_GME_2018.csv')
gme17 = pd.read_csv('resources/STOCK_US_XNYS_GME_2017.csv')

bitcoin1 = pd.read_csv('resources/bitcoin_1617.csv')
bitcoin2 = pd.read_csv('resources/bitcoin_1819.csv')
bitcoin3 = pd.read_csv('resources/bitcoin_1920.csv')
bitcoin4 = pd.read_csv('resources/bitcoin_1718.csv')
bitcoin5 = pd.read_csv('resources/bitcoin_2021.csv')

In [3]:
snp_list = [snp20, snp19, snp18, snp17]

for df in snp_list:
    snp.append(df)
    
snp = snp.replace(',','', regex=True)

snp['daily_change'] = snp['High'].astype(float) - snp['Low'].astype(float)

snp['ticker'] = 'INX'

snp.head()

         Date     Open     High      Low    Close  daily_change ticker
0  03/26/2021  3917.12  3978.19  3917.12  3974.54         61.07    INX
1  03/25/2021  3879.34  3919.54  3853.50  3909.52         66.04    INX
2  03/24/2021  3919.93  3942.08  3889.07  3889.14         53.01    INX
3  03/23/2021  3937.60  3949.13  3901.57  3910.52         47.56    INX
4  03/22/2021  3916.48  3955.31  3914.16  3940.59         41.15    INX

In [4]:
gme_list = [gme20, gme19, gme18, gme17]

for df in gme_list:
    gme.append(df)
    
gme = gme[['Date', 'Open', 'High', 'Low', 'Close']]

gme['daily_change'] = gme['High'] - gme['Low']

gme['ticker'] = 'GME'
  
gme.head()

         Date    Open    High     Low   Close  daily_change ticker
0  03/26/2021  197.68  218.93  163.26  181.00         55.67    GME
1  03/25/2021  123.49  187.50  116.90  183.75         70.60    GME
2  03/24/2021  157.98  166.97  118.62  120.34         48.35    GME
3  03/23/2021  197.50  201.75  177.55  181.75         24.20    GME
4  03/22/2021  205.26  210.36  186.20  194.49         24.16    GME

In [5]:
list = [bitcoin2, bitcoin3, bitcoin4, bitcoin5]

for df in list:
    bitcoin1.append(df)
    
bitcoin1 = bitcoin1.replace(',','', regex=True)

bitcoin1['daily_change'] = bitcoin1['High'].astype(int)- bitcoin1['Low'].astype(int)

bitcoin1['ticker'] = 'BTC'

bitcoin1.head()

         Date  Open  High   Low Close  daily_change ticker
0  03/24/2017  1017  1053  1011   952            42    BTC
1  03/23/2017  1108  1119   991  1017           128    BTC
2  03/22/2017  1043  1118  1035  1108            83    BTC
3  03/21/2017  1042  1052  1011  1043            41    BTC
4  03/20/2017   982  1059   946  1042           113    BTC

In [6]:
data = bitcoin1.append(gme)
var_data = data.append(snp)

var_data.columns = ['date','open','high','low','close','daily_change','ticker']

In [7]:
connection_string = "postgres:postgres@localhost:5432/investments_db"
engine = create_engine(f'postgresql://{connection_string}')

In [8]:
var_data.to_sql(name='historical_data', con=engine, if_exists='append', index=False)
pd.read_sql_query('select * from historical_data', con=engine).head()

   id        date    open    high     low   close  daily_change ticker
0   1  2017-03-24  1017.0  1053.0  1011.0   952.0          42.0    BTC
1   2  2017-03-23  1108.0  1119.0   991.0  1017.0         128.0    BTC
2   3  2017-03-22  1043.0  1118.0  1035.0  1108.0          83.0    BTC
3   4  2017-03-21  1042.0  1052.0  1011.0  1043.0          41.0    BTC
4   5  2017-03-20   982.0  1059.0   946.0  1042.0         113.0    BTC