In [1]:
import pandas as pd

In [2]:
bitcoin1 = pd.read_csv("/Users/monicabustillos/Documents/CLASS/bitcoin_1617.csv")
bitcoin2 = pd.read_csv("/Users/monicabustillos/Documents/CLASS/bitcoin_1819.csv")
bitcoin3 = pd.read_csv("/Users/monicabustillos/Documents/CLASS/bitcoin_1920.csv")
bitcoin4 = pd.read_csv("/Users/monicabustillos/Documents/CLASS/bitcoin_1718.csv")
bitcoin5 = pd.read_csv("/Users/monicabustillos/Documents/CLASS/bitcoin_2021.csv")

In [3]:
list = [bitcoin2, bitcoin3, bitcoin4, bitcoin5]

for df in list:
    bitcoin1.append(df)

In [4]:
bitcoin1.head()

         Date   Open   High    Low  Close
0  03/24/2017  1,017  1,053  1,011    952
1  03/23/2017  1,108  1,119    991  1,017
2  03/22/2017  1,043  1,118  1,035  1,108
3  03/21/2017  1,042  1,052  1,011  1,043
4  03/20/2017    982  1,059    946  1,042

In [5]:
bitcoin1 = bitcoin1.replace(',','', regex=True)

In [6]:
bitcoin1['daily_change'] = bitcoin1['High'].astype(int)- bitcoin1['Low'].astype(int)

In [7]:
bitcoin1.head()

         Date  Open  High   Low Close  daily_change
0  03/24/2017  1017  1053  1011   952            42
1  03/23/2017  1108  1119   991  1017           128
2  03/22/2017  1043  1118  1035  1108            83
3  03/21/2017  1042  1052  1011  1043            41
4  03/20/2017   982  1059   946  1042           113